<main class="container pb-4 px-4 " id="maincontent">
    <section class="sezione-notizie">
    <div class="row ">
    <div class="col">
    <div class="section_title text-center">
    <h2>In evidenza</h2>
    </div>
    </div>
    </div>
    <div class="row">
    
    <div class="col-lg-4 col-sm-4 separatore">
    <div class="card-wrapper">
    <div class="card card-img no-after">
    
    <a href="/pariopportunita/" target="_self">
    <div class="img-wrapper">
    <img src="./assets/IntegrazioneSociale.png" class="img-fluid w-100">
    </div>
    </a>
    
    
    <div class="card-body">
    <h3 class="card-title"><a href="/pariopportunita/" target="_self">Integrazione Sociale <span class="badge badge-pill badge-warning ml-1">AreeTematiche</span></a></h3>
    
    </div>
    
    </div>
    </div>
    </div>
    
    
    <div class="col-lg-4 col-sm-4 separatore">
    <div class="card-wrapper">
    <div class="card card-img no-after">
    
    <a href="/cultura/" target="_self">
    <div class="img-wrapper">
    <img src="./assets/Cultura.png" class="img-fluid w-100">
    </div>
    </a>
    
    
    <div class="card-body">
    <h3 class="card-title"><a href="/cultura/" target="_self">Cultura <span class="badge badge-pill badge-warning ml-1">Aree Tematiche</span></a></h3>
    </div>
    
    </div>
    </div>
    </div>
    
    
    <div class="col-lg-4 col-sm-4 separatore">
    <div class="card-wrapper">
    <div class="card card-img no-after">
    
    <a href="/proposte/centrogiovani" target="_self">
    <div class="img-wrapper">
    <img src="./assets/propostacentrogiovanihead.png" alt="" class="img-fluid w-100">
    </div>
    </a>
    
    
    <div class="card-body">
    <h3 class="card-title"><a href="/proposte/centrogiovani" target="_self">Proposta centro giovani<span class="badge badge-pill badge-danger ml-1">Proposta</span></a></h3>
    <p class="card-text">Scopri la proposta del centro giovani e i continui aggiornamenti!</p>
    </div>
    
    </div>
    </div>
    </div>
    
    
    <div class="col-lg-4 col-sm-4 separatore">
    <div class="card-wrapper">
    <div class="card card-img no-after">
    
    <a href="/uffici/" target="_self">
    <div class="img-wrapper">
    <img src="./assets/ufficihead .png" alt="" class="img-fluid w-100">
    </div>
    </a>
    
    
    <div class="card-body">
    <h3 class="card-title"><a href="/uffici/" target="_self">Scopri tutti gli uffici di Arena Giovani</a></h3>
    
    </div>
    
    </div>
    </div>
    </div>
    
    
    <div class="col-lg-4 col-sm-4 separatore">
    <div class="card-wrapper">
    <div class="card card-img no-after">
    
    <a href="/persone/" target="_self">
    <div class="img-wrapper">
    <img src="./assets/personehead.png" alt="" class="img-fluid w-100">
    </div>
    </a>
    
    
    <div class="card-body">
    <h3 class="card-title"><a href="/persone/" target="_self">Persone Online <span class="badge badge-pill badge-danger ml-1">upid</span></a></h3>
    </div>
    
    </div>
    </div>
    </div>
    
    
    <div class="col-lg-4 col-sm-4 separatore">
    <div class="card-wrapper">
    <div class="card card-img no-after">
    
    <a href="/sport/" target="_self">
    <div class="img-wrapper">
    <img src="./assets/Sport.png" class="img-fluid w-100">
    </div>
    </a>
    
    
    <div class="card-body">
    <h3 class="card-title"><a href="/sport/" target="_self">Sport<span class="badge badge-pill badge-warning ml-1">Aree Tematiche</span></a></h3>
    
    </div>
    
    </div>
    </div>
    </div>
    
    
    
    
    
    
    
    
    <div class="col-lg-4 col-sm-4 separatore">
    <div class="card-wrapper">
    <div class="card card-img no-after">
    
    <a href="/sport/" target="_self">
    <div class="img-wrapper">
    <img src="./assets/Biblioteca.png" class="img-fluid w-100">
    </div>
    </a>
    
    
    <div class="card-body">
    <h3 class="card-title"><a href="/sport/" target="_self">Biblioteca<span class="badge badge-pill badge-warning ml-1">Aree Tematiche</span></a></h3>
    
    </div>
    
    </div>
    </div>
    </div>
    
    
    
    
    <div class="col-lg-4 col-sm-4 separatore">
    <div class="card-wrapper">
    <div class="card card-img no-after">
    
    <a href="/sport/" target="_self">
    <div class="img-wrapper">
    <img src="./assets/Aree.png" class="img-fluid w-100">
    </div>
    </a>
    
    
    <div class="card-body">
    <h3 class="card-title"><a href="/sport/" target="_self">Aree<span class="badge badge-pill badge-warning ml-1">Aree Tematiche</span></a></h3>
    
    </div>
    
    </div>
    </div>
    </div>
    
    
    
    
    </div>
    </section>
    
    
    
        
    <section class="cookiebar-container d-none" role="alert" aria-label="Banner dei cookie">
    <div class="cookiebar" tabindex="1">
    <p>
    Questo sito o gli strumenti terzi da questo utilizzati si avvalgono di cookie necessari al funzionamento ed utili alle finalità illustrate nella
    <a href="/cookie-policy" class="text-white"><strong>COOKIE POLICY</strong></a>.<br>
    </p>
    <div class="cookiebar-buttons">
    <button tabindex="4" class="cookiebar-btn cookiebar-custom" data-toggle="modal" data-target="#cookie-modal">Personalizza</button>
    <button tabindex="3" class="cookiebar-btn cookiebar-ko ml-4">Rifiuta tutti<span class="sr-only"> i cookies</span></button>
    <button tabindex="2" class="cookiebar-btn cookiebar-ok ml-4">Accetta tutti<span class="sr-only"> i cookies</span></button>
    </div>
    </div>
    </section>
    <div class="modal fade" role="dialog" id="cookie-modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <span class="modal-title"><strong>Gestione cookie</strong></span>
    </div>
    <div class="modal-body">
    <div class="row mb-3">
    <div class="col-12">
    <p>In questa schermata è possibile scegliere quali cookie consentire.<br>
    I cookie necessari sono quelli che consentono il funzionamento della piattaforma e non è possibile disabilitarli.<br>
    Per conoscere quali sono i cookie necessari al funzionamento potete visionare la <a href="/cookie-policy"><strong>COOKIE POLICY</strong></a>.</p>
    </div>
    </div>
    <form id="cookie_form">
    <input type="hidden" name="act" value="cookieConsent">
    <div id="accordionDiv1" class="collapse-div" role="tablist">
    <div class="collapse-header" id="headingA0">
    <div class="row">
    <div class="col-3 col-md-1">
    <button type="button" data-toggle="collapse" data-target="#accordion0" aria-expanded="false" aria-controls="accordion0">
    </button>
    </div>
    <div class="col-9 col-md-11">
    <div class="form-check form-check-group mb-1">
    <div class="toggles">
    <label for="toggle1">
    Cookie necessari per il funzionamento
    <input type="checkbox" id="toggle1" checked="" disabled="">
    <span class="lever"></span>
    </label>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div id="accordion0" class="collapse" role="tabpanel" aria-labelledby="headingA0" data-parent="#accordionDiv1">
    <div class="collapse-body">
    I cookie necessari per il funzionamento non possono essere disabilitati. È possibile consultare l'elenco nella pagina della cookie policy.
    </div>
    </div>
    
    </div>
    </form>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-secondary cookiebar-ok">Accetta tutti</button>
    <button type="button" class="btn btn-primary btn-cookie-save">Salva le preferenze</button>
    </div>
    </div>
    </div>
    </div>
    
    
    </main>